<template>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d679.3349269755681!2d174.74994440000003!3d-41.2774444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDE2JzM4LjgiUyAxNzTCsDQ0JzU5LjgiRQ!5e1!3m2!1sen!2snz!4v1723080295290!5m2!1sen!2snz"
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
</template>

<script>
export default {
  name: "stele"
};
</script>

<style scoped>
iframe {
  border: 0;
}
</style>